<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактирование пользователя</title>
</head>
<body>
<h1>Редактирование пользователя</h1>

<form th:action="@{'/auth/admin/user/' + ${user.id} + '/edit'}" th:object="${user}" method="post">
    <label for="username">Имя пользователя:</label><br/>
    <input type="text" id="username" name="username" th:field="*{username}"/><br/><br/>

    <label for="email">Электронная почта:</label><br/>
    <input type="email" id="email" name="email" th:field="*{email}"/><br/><br/>

    <label>Роли:</label>
    <div th:each="role : ${allRole}">
        <input type="checkbox" name="roles" th:value="${role.id}" th:checked="${user.roles.contains(role)}">
        <span th:text="${role.name}"></span>
    </div>
    <br>
    <input type="submit" value="Обновить пользователя"/>
</form>
</body>
</html>