<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Создание нового пользователя</title>
</head>
<body>
<h1>Создание нового пользователя</h1>
<form th:action="@{/auth/admin/add}" th:object="${newUser}" method="post">
    <label for="username">Имя пользователя:</label><br/>
    <input type="text" id="username" name="username" th:field="*{username}"/><br/><br/>

    <label for="password">Пароль:</label><br/>
    <input type="password" id="password" name="password" th:field="*{password}"/><br/><br/>

    <label for="email">Электронная почта:</label><br/>
    <input type="email" id="email" name="email" th:field="*{email}"/><br/><br/>

    <label for="role">Роль:</label><br/>
    <select id="role" name="roles" multiple="multiple">
        <option th:each="role : ${allRole}"
                th:value="${role.id}"
                th:text="${role.name}"></option>
    </select><br/><br/>

    <input type="submit" value="Создать пользователя"/>
</form>
</body>
</html>